<div style="margin-top:80px">
    <div class="temp-grid" id="Features">
        <div class="container">
            <div class="temp-grid-main">
                <div class="feature">
                    <h3>APP FEATURES</h3>
                    <P>Great design is about more than style, it’s about being yourself, communicating your ideas and expressing your values</P>
                </div>
                <div class="tempgrid-top">
                    <div class="tempgrid-left">
                        <img src="../../img/pen.png" alt=""/>
                        <h3>EASY TO INSTALL</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="tempgrid-left">
                        <img src="../../img/set.png" alt=""/>
                        <h3>QUICK LOG IN</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="tempgrid-left">
                        <img src="../../img/clk.png" alt=""/>
                        <h3>SAVE YOUR TIME</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                </div>
                <div class="tempgrid-top">
                    <div class="tempgrid-left">
                        <img src="../../img/bulb.png" alt=""/>
                        <h3>TIPS & HELP</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="tempgrid-left">
                        <img src="../../img/kala.png" alt=""/>
                        <h3>MODERN WIDGET</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                    <div class="tempgrid-left">
                        <img src="../../img/help.png" alt=""/>
                        <h3>CUSTOMER SUPPORT</h3>
                        <p>This is a phtoshop version of lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>