<div style="margin-top:80px">
    <div class="container">
        <div class="banner-main">
            <div class="container">
                <div class="banner-grids">
                    <div class="col-md-6 banner-left">
                        <img src="../../img/hand-phone.png" alt=""/>
                    </div>
                    <div class="col-md-6 banner-right">
                        <img src="../../img/logo-icon.png" alt=""/>
                        <h1>Sport Horse Tech<br> Introduces HoofBeats!</h1>
                        <div class="banner-bwn">
                            <a href="#">DOWNLOAD APP</a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>