<div class="countgrid">
    <div class="container">
        <script src="../dist/minicart.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <div class="countgrid-main">
            <div class="col-md-3 count-boxs">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <fieldset>
                        <input type="hidden" name="cmd" value="_cart"/>
                        <input type="hidden" name="add" value="1"/>
                        <input type="hidden" name="business" value="example@minicartjs.com"/>
                        <input type="hidden" name="item_name"
                               value="Test Product with a really, really long name"/>
                        <input type="hidden" name="amount" value="1.00"/>
                        <input type="hidden" name="currency_code" value="USD"/>
                        <input type="hidden" name="return"
                               value="http://localhost/minicartjs.com/?success"/>
                        <input type="hidden" name="cancel_return"
                               value="http://localhost/minicartjs.com/?cancel"/>

                        <p>
                            <label>
                                My color:
                                <input type="hidden" name="on0" value="My option"/>
                                <select name="os0">
                                    <option value=""></option>
                                    <option value="R">Red</option>
                                    <option value="O">Orange</option>
                                    <option value="Y">Yellow</option>
                                    <option value="G">Green</option>
                                    <option value="B">Blue</option>
                                    <option value="I">Indigo</option>
                                    <option value="V">Violet</option>
                                </select>
                            </label>
                        </p>

                        <input type="submit" value="Add to cart"/>
                    </fieldset>
                </form>

                <script src="../dist/minicart.js"></script>
                <script>
		paypal.minicart.render();

		paypal.minicart.cart.on('add', function (idx, product, isExisting) {
			if (!product.get('os0')) {
				this.remove(idx);
				alert('Please select an option first!');
			}
		});



                </script>
            </div>
        </div>
    </div>


    <!--countgrids  end here-->
    <!--download star here-->
    <div class="download" id="Download">
        <div class="container">
            <div class="download-main">
                <h3>DOWNLOAD APP</h3>

                <p>Available free paid version</p>

                <div class="col-md-6 down-load-left">
                    <img src="../../img/iphone.png" alt=""/>
                </div>
                <div class="col-md-6 down-load-right">
                    <div class="user">
                        <div class="down-img">
                            <img src="../../img/apple.png" alt=""/>
                        </div>
                        <div class="down-text">
                            <h4>APPLE USER</h4>
                        </div>
                    </div>
                    <div class="user">
                        <div class="down-img">
                            <img src="../../img/android.png" alt=""/>
                        </div>
                        <div class="down-text">
                            <h4>ANDROLD USER</h4>
                        </div>
                    </div>
                    <div class="user">
                        <div class="down-img">
                            <img src="../../img/windows.png" alt=""/>
                        </div>
                        <div class="down-text">
                            <h4>WINDOWS USER</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--download star here-->
    <!--contact start here-->
    <div class="contact">
        <div class="container">
            <div class="contact-main">
                <div class="con-text">
                    <h4>SUBSCRIBE TO OUR NEWSLETTER</h4>
                </div>
                <div class="con-enter">
                    <input type="text" value="Your email address" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Your email address';}"/>
                </div>
                <div class="con-sub">
                    <input type="submit" value="SUBSCRIBE"/>
                </div>
            </div>
        </div>
    </div>
    <!--contact end here-->
    <!--footer start here-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <img src="../../img/ftr-logo.png" alt=""/>

                <h3>CONNECT WITH US BY</h3>
                <ul class="image-sprit">
                    <li><a class="mes" href="#">EMAIL</a></li>
                    <li><a class="fa" href="#">FACEBOOK</a></li>
                    <li><a class="tw" href="#">TWITTER</a></li>
                    <li><a class="pin" href="#">PINTEREST</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--footer end here-->
    <!--copyright start here-->
    <div class="copyright">
        <div class="container">
            <div class="copyright-main">
                <p></p>
            </div>
        </div>
    </div>
</div>