<div id="bottom" class="callbacks_container">
    <div class="review" id="Reviews">
        <div class="review-top">
            <h3>REVIEW</h3>

            <p>Here see what our customer have think about us....</p>
        </div>
        <div class="review-bottom">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="review-bottom">
                        <div class="review-left">
                            <span class="review-img"> </span>
                        </div>
                        <div class="review-right">
                            <span class="colons"> </span>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euismod tincidunt ut laoreet dolore magna a
                                lorem ipsum dolor.</p>
                            <h4>JACK Anthony</h4>
                            <h4>ABC Inc</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="review-bottom">
                        <div class="review-left">
                            <span class="review-img1"> </span>
                        </div>
                        <div class="review-right">
                            <span class="colons"> </span>

                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy
                                text .</p>
                            <h4>Richard</h4>
                            <h4>ABC Inc</h4>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="review-bottom">
                        <div class="review-left">
                            <span class="review-img2"> </span>
                        </div>
                        <div class="review-right">
                            <span class="colons"> </span>

                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                                diam nonummy nibh euismod tincidunt ut laoreet dolore magna a
                                lorem ipsum dolor.</p>
                            <h4>McClintock,</h4>
                            <h4>ABC Inc</h4>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="js/responsiveslides.min.js"></script>
<script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 3
			      $("#slider3").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });


</script>
