<script src="js/responsiveslides.min.js"></script>
<script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });

</script>
<!----//End-slider-script---->
<div id="top" class="callbacks_container">
    <div class="container">
        <div class="screenshot-top" id="Screenhots">
            <h3>APP SCREENSHOT</h3>

            <p>We design a piece of art that makes your phone awesome and cool.</p>
        </div>
        <div class="screenshot-bottom">
            <ul class="rslides" id="slider4">
                <li>
                    <div class="screenshot">
                        <img src="../../img/srn1.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn2.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn3.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn4.png" alt=""/>
                    </div>
                </li>
                <li>
                    <div class="screenshot">
                        <img src="../../img/srn2.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn3.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn4.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn1.png" alt=""/>
                    </div>
                </li>
                <li>
                    <div class="screenshot">
                        <img src="../../img/srn3.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn4.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn1.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn2.png" alt=""/>
                    </div>
                </li>
                <li>
                    <div class="screenshot">
                        <img src="../../img/srn4.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn1.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn2.png" alt=""/>
                    </div>
                    <div class="screenshot">
                        <img src="../../img/srn3.png" alt=""/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>